@import '../../Assets/Styles/colors';

.homepage-container {
     .landing-page {
          position: relative;
          min-height: 100vh;
          .main-content-container {
               display: flex;
               align-items: center;
               margin-top: 8rem;
               flex-direction: column;
               padding-bottom: 5rem;
               .profile-container {
                    height: 18rem;
                    width: 18rem;
                    border-radius: 20rem;
                    background-color: $profile-back-color;
                    position: relative;
                    img {
                         width: 100%;
                         position: absolute;
                         border-radius: 20rem;
                         bottom: 0px;
                    }
               }
               .heading-title {
                    text-align: center;
                    margin-top: 3rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1 {
                         font-size: 7rem;
                         color: $white;
                         letter-spacing: -1px;
                         line-height: 8rem;
                    }
                    .sub-heading {
                         margin-top: 3rem;
                         h2 {
                              font-size: 2rem;
                              color: $white;
                              line-height: 3.5rem;
                         }
                         .skills-container {
                              margin-top: 0.5rem;
                              border-radius: 5px;
                              display: inline-block;
                              p {
                                   display: inline-block;
                                   padding: 1rem 1rem;
                                   font-size: 2rem;
                                   margin-right: 0.5rem;
                                   color: $black;
                                   font-weight: bold;
                                   position: relative;
                                   &::before {
                                        content: '';
                                        background-color: $white;
                                        position: absolute;
                                        z-index: -1;
                                        transform: skewX(-10deg);
                                        top: 0px;
                                        left: 0px;
                                        height: 100%;
                                        width: 100%;
                                   }
                              }
                         }
                    }
               }
          }
     }
     .accomplishments-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10rem;
          padding: 10rem 0rem;
          border-bottom: 1px solid $grey-light;
     }

     .project-tiles-container {
          margin: 10rem 0rem;
          .projects-tiles-title {
               padding-bottom: 10rem;
               text-align: center;
               p {
                    font-size: 6rem;
                    font-weight: 900;
               }
          }
          .project-combination-tiles {
               display: flex;
               gap: 20px;
               > :first-child {
                    flex: 2;
                    flex-basis: 66.66%;
               }
               > :last-child {
                    flex: 1;
                    flex-basis: 33.33%;
               }
          }
     }

     .experiences-container {
          margin: 10rem 0rem;
          padding: 15rem 10rem 10rem;
          position: relative;
          .experiences-title {
               font-size: 5rem;
               font-weight: 900;
               letter-spacing: 1px;
               color: $white;
          }
          .multiple-stat-tiles-container {
               display: flex;
               > div {
                    flex: 1;
               }
          }
          .tools-used-container {
               display: flex;
               .tool-icon {
                    border: 1px solid rgba($white, 0.2);
                    margin: 1rem;
                    border-radius: 1rem;
                    padding: 2rem;
                    img {
                         height: 3rem;
                    }
               }
          }
     }
}
